@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main-container {
    display: flex;
    height: 100%;
}

.left-section {
    display: flex;
    flex-flow: column-reverse;
    gap: 600px;
    align-items: center;
    width: 32vw;
    background-image: url("https://i.ibb.co/FbLpWjg/halie-west-25xggax4b-SA-unsplash.jpg");
}

a {
    color: white;
}

.attribution {
    margin-bottom: 10px;
    color: white;
    font-family: Roboto, Arial;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 120px;
    gap: 5px;
    font-family: Skranji, Roboto, Arial;
    font-size: 80px;
    color: white;
}

.right-section {
    width: 68vw;
    font-family: Roboto, Arial;
}

.description {
    height: 31vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column-reverse;
    font-size: 30px;
    font-weight: bold;
    padding: 50px;
    gap: 30px;
    background-color: rgba(128, 128, 128, 0.05);
}

.form-section {
    height: 38vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px 50px 50px 50px;
    gap: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.form-title {
    font-size: 30px;
    color: rgba(11, 11, 63, 0.8);
    font-weight: bold;
}

input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #E5E7EB;
    font-size: 17px;
    box-sizing: border-box;
    padding: 8px 8px 8px 12px;
}

input:focus {
    border: 2px solid rgba(0, 0, 255, 0.5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    outline: none;
}

input[type="password"]:invalid {
    border-color: red;
}

input[type="password"]:invalid + div::before {
    content: "* Passwords do not match";
    color: red;
}

form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 25px;
}

label {
    display: block;
}

.buttons-container {
    height: 31vh;
}